*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.dashboard-container{
    display: flex;
    
    flex-wrap: wrap;
    justify-content: space-between;
}
.dashboard-navbar{
    width: 20%;
}

.dashboard-board{
    width: auto;
    padding: 2rem;
}

.month-names{
    cursor: pointer;
}

.scroll-month{
    display: flex;
    justify-content: center;
}
.dashboard-content{
    margin-left: 19%;
    width: 80%;
    margin-top: 1rem;
}
.dashboard-content-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
    .all-summary-box{
        width: 600px;
        padding: 1rem;
        border-radius: 10px;
        box-shadow: 5px 5px 5px 5px rgb(219, 219, 219);
    }

    .budget-graph{
        width: 550px;
    }

@media (min-width: 768px) {
    .all-summary-box {
      min-width: 170px;
    }
    .budget-graph{
        min-width: 150px;
    }
  }
